*{
    margin: 0;
}
body{
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    height: contain;
    width: 1300px;
    border-radius: 0px;
    border: 2px solid grey;
    background-color: #F8FBFB;
}
.navbar{
    height: 65px;
   background-color: white;
}
.logo{
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    text-transform: capitalize;
    color: #122025;
    margin: 0 270px 0 98px;
    vertical-align: middle;
}
.links{
font-size: 15px;
line-height: 65px;
text-decoration: none;
color: black;
margin: auto 0 0 18px;
}
.links:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.head-icon{
    vertical-align: middle;
    margin-left: 80px;
    margin-right: 22px;
}
.head-icon-2{
    margin: 0;
    vertical-align: middle;
}


.section-one{
    height: 600px;
    background-color: white;
}
.images{
    float: right;
    margin-right: 90px;
    margin-top: 40px;
    
}
.body-text{
font-size: 34px;
font-weight: 500;
line-height: 39px;
float: left;
margin: 60px 0 0 98px;
}
.yellow{
    font-weight: 800;
    color: #F2C229;
}
.black{
    font-weight: 800;
    color: #122025;
}
.smaller-text{
font-weight: 500;
font-size: 15px;
line-height: 152.9%;
text-transform: capitalize;
color: #58666B;
margin-top: 22px;

}
.btn-1{
   /* height: 55px;
    width: 175px;*/
    color: white;
    padding: 7px 15px;
    font-weight: 600;
    font-size: 14px;
    background-color: #1C2A2F;
    border-radius: 8px;
    border: none;
    margin-top: 48px;
}
.btn-1 svg{
    margin-left: 10px;
    vertical-align: middle;
}
.btn-2{
    background-color: transparent;
    color: black;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    border: none;
    margin-top: 17px;
    margin-left: 30px;
    /*height: 55px;
    width: 175px;*/
}
.btn-2 svg{
    margin-left: 10px;
    vertical-align: middle;
}




.section-two{
    height: 1100px;
    text-align: center;
}
.bod2-head{
    font-weight: 600;
    font-size: 32px;
    line-height: 54px;
    text-align: center;
    color: #122025;
    padding-top: 20px;
}
.mid{
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #58666B;
    margin-bottom: 45px;
    margin-top: 24px;
}
.grp-link2{
    margin: auto;
    text-align: center;
}
.link2{
    margin-right: 30px;
    font-size: 15px;
    text-decoration: none;
    color: #1C2A2F;
}
.link2:hover{
    background-color: #1FB890;
    border-radius: 20px;
    padding: 8px 10px;
}
.sales-obj{
    margin: 30px auto;
    text-align: center;
}
.table1{
    margin: auto;
}
.table1, .table1 td {
    border-spacing: 12px;
}
.obj-background{
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    margin: 0px 0px 10px 2px;
    border: 1px solid black;
}
.img1{
    margin: 50px auto 22px auto;
}
.img2{
    margin: 0 auto 13px auto; 
}
.img3{
    margin: 65px auto 35px auto;
}
.img4{
    margin: 30px auto 22px auto;
}
.img5{
    margin: 30px auto;
}
.img6{
    margin: 30px auto 20px auto;
}
.img7{
    margin: 33px auto;
}
.img8{
    margin: 25px auto;
}
.img9{
    margin: 35px auto 42px auto;
}
.img10{
    margin: 30px auto 19px auto;
}
.furniture-head{
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 0 5px;
    text-align: left;
}
.price{
    color: #A8B6BB;
    font-size: 13px;
    font-weight: 600;
    margin: 4px 0 10px 5px;
    text-align: left;
}
.lttl-grn{
    color: #1FB890;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 10px;
}
.stars{
    float: right;
    margin-right: 10px;
    margin-left: 12px;

}
.circle{
    float: left;
    margin-left: 10px;
    vertical-align: middle;
}
.small{
    vertical-align: middle;
}
.see-more{
    font-size: 17px;
    background-color: #1C333B;
    border-radius: 25px;
    padding: 6px 13px;
    color: white;
    font-weight: 600;
    margin:  auto;
    text-align: center;
    transition: background-color 0.8s;
}
.see-more:hover, .know-more:hover{
    background-color: transparent;
    border: 2px solid #1C333B;
    color: #1C333B;
    cursor: pointer;
}


.section-three{
    height: 850px;
    background-color: white;
    margin-bottom: 30px;
    padding-top: 20px;
}
.three-header{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center;
}
.three-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    float: left;
    row-gap: 45px;
    column-gap: 120px;
    margin: 30px 100px 8px 98px;
}
.head{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 10px;
}
.details{
    font-size: 20px;
    font-weight: 500;
}
.serviveImg{
    float: right;
    margin-bottom: 18px;
    margin-right: 100px;
}
.know-more{
    font-size: 17px;
    background-color: #1C333B;
    border-radius: 25px;
    padding: 6px 13px;
    color: white;
    font-weight: 600; 
    margin: auto 0 50px 98px;
    transition: background-color 0.8s;
}
.three-customer{
    background-color: ghostwhite;
    width: 100%;
    height: 300px;
}
.customer-say{
    float: left;
    padding-top: 20px;
}
.customer-head{
    font-size: 27px;
    font-weight: 600;
    margin: 10px 0 15px 98px;
}
.customer-say p{
    margin-left: 98px;
}
.customer-details{
    margin: 0 0 15px 0;
    font-size: 15px;
}
.starz{
    margin-left: 98px;
}
.customer{
    float: right;
    margin: 38px 80px 0 0;
}
.name{
    font-size: 14px;
    font-weight: 600;
    background: transparent;
}
.position{
    font-size: 13px;
}



.section-four{
    height: 280px;
    text-align: center;
    background-color: white;
}
.four-header{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 20px;
}
.section-four svg{
    width: 110px;
    height: 80px;
    margin-right: 30px;
}


.section-five{
    height: 320px;
    background-color: whitesmoke;
    padding-top: 20px;
}
.five-header{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 98px;
    margin-top: 10px;
    background-color: whitesmoke;
}
.gallery{
    text-align: center;
}
.section-five img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

section-six img{
    width: 100%;
    height: 100px;
    }}
